In [42]:
import pandas as pd
import sqlalchemy

### Import data

#### To Download the data run
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [43]:
df = pd.read_csv('data/green_tripdata_2019-09.csv')

/var/folders/hw/gc95yffj7bg1g9sz0xxt1bh40000gn/T/ipykernel_27919/3212248186.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/green_tripdata_2019-09.csv')

In [44]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [45]:
# Print schema definition DDL
print(pd.io.sql.get_schema(df, name='yellow_taxi_rides'))

CREATE TABLE "yellow_taxi_rides" (
"VendorID" REAL,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

### SQLAlchemy

In [46]:
from sqlalchemy import create_engine
from time import time

In [48]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [50]:
pd.io.sql.get_schema(df, name='yellow_taxi_rides', con=engine)

'\nCREATE TABLE yellow_taxi_rides (\n\t"VendorID" FLOAT(53), \n\tlpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tlpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tstore_and_fwd_flag TEXT, \n\t"RatecodeID" FLOAT(53), \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\tehail_fee FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tpayment_type FLOAT(53), \n\ttrip_type FLOAT(53), \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [51]:
df.head(0).to_sql(name='yellow_taxi_rides', con=engine, if_exists='replace')

0

In [52]:
df_iter = pd.read_csv('data/green_tripdata_2019-09.csv', iterator=True, chunksize=50000)
i = 0
while True:
    try:
        i += 1
        t_start = time()
        print(f"Import chunk: {i}")
        df = next(df_iter)
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
        df.to_sql(name='yellow_taxi_rides', con=engine, if_exists='append')
        t_end = time()

        print(f"Importing chunk took {round(t_end - t_start,2)} seconds.")
        
    except StopIteration:
        print("Importing completed")
        break

Import chunk: 1
Importing chunk took 7.43 seconds.
Import chunk: 2
Importing chunk took 7.57 seconds.
Import chunk: 3
Importing chunk took 6.09 seconds.
Import chunk: 4
Importing chunk took 7.03 seconds.
Import chunk: 5
Importing chunk took 7.02 seconds.
Import chunk: 6
Importing chunk took 7.09 seconds.
Import chunk: 7
Importing chunk took 7.07 seconds.
Import chunk: 8
Importing chunk took 6.97 seconds.
Import chunk: 9
Importing chunk took 4.94 seconds.
Import chunk: 10
Importing completed